* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #181818;
    padding: 20px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2px;
    background-color: #202020;
    width: 600px;
    padding: 20px;
    border-radius: 4px;
}

.square-cell {
    aspect-ratio: 1/1;
    height: auto;
    background-color: white;
}

.main-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.side-menu {
    background-color: #202020;
    padding: 20px;
    width: 250px;
    border-radius: 5px;
    align-self: start;
}

.background-colors-subtitle,
.pen-colors-subtitle {
    color: #3ea6ff;
    font-weight: 600;
    flex-shrink: 0;
}

.btn {
    background-color: transparent;
    border: 1px solid #3ea6ff;
    border-radius: 2px;
    color: #3ea6ff;
    padding: 10px 20px;
}

.pen-colors-container,
.background-colors-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 8px;
}

.color-items-container {
    flex: 1;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.color-item {
    width: calc(20% - 4px);
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 2px;
}

.selected.color-item {
    border: 1px solid #3ea6ff;
}

.hovered.color-item {
    border: 1px solid #4d4f51;
    opacity: 50%;
}

.enabled.btn {
    background-color: #3ea6ff;
    border: 1px solid #3ea6ff;
    color: #202020;
    font-weight: 600;
}

.hovered.btn {
    background-color: #2b2b2b;
}

.hovered.enabled.btn {
    background-color: #95c1ee;
}